* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin-left: 0;
  list-style: none;
  display: flex;
}

[class^=col-] {
  width: 100%;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

input[type=text] {
  border: none;
  max-width: 100%;
}

button {
  padding: 10px 35px;
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

button:focus {
  outline: none;
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.col-1 {
  width: calc((100% / 12) * 1);
}

.offset-1 {
  width: calc((100% / 12) * 1);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.offset-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.offset-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.offset-4 {
  width: calc((100% / 12) * 4);
}

.col-5 {
  width: calc((100% / 12) * 5);
}

.offset-5 {
  width: calc((100% / 12) * 5);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.offset-6 {
  width: calc((100% / 12) * 6);
}

.col-7 {
  width: calc((100% / 12) * 7);
}

.offset-7 {
  width: calc((100% / 12) * 7);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.offset-8 {
  width: calc((100% / 12) * 8);
}

.col-9 {
  width: calc((100% / 12) * 9);
}

.offset-9 {
  width: calc((100% / 12) * 9);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.offset-10 {
  width: calc((100% / 12) * 10);
}

.col-11 {
  width: calc((100% / 12) * 11);
}

.offset-11 {
  width: calc((100% / 12) * 11);
}

.col-12 {
  width: calc((100% / 12) * 12);
}

.offset-12 {
  width: calc((100% / 12) * 12);
}

.col-4 img,
.col-4 p,
.offset-4 img,
.offset-4 p {
  margin-bottom: 30px;
}

header {
  font-weight: bold;
}

header .row.top {
  background-color: #0282f9;
  color: white;
}

header .row.top .wrapper {
  display: flex;
  justify-content: flex-end;
}

header .row.top .wrapper div {
  margin: 5px 0 5px 60px;
}

header nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo-container {
  max-height: 70px;
  max-width: 70px;
}

header nav li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 35px 0;
  border-bottom: 3px solid transparent;
}

header nav li:hover {
  border-bottom: 3px solid #0282f9;
  transition: 0.5s;
}

header nav .searchbar {
  width: 100px;
  border-bottom: 3px solid #0282f9;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-right: 5px;
  padding-bottom: 2px;
  display: flex;
  position: relative;
}

header nav .searchbar input {
  padding-right: 10px;
}

header nav .searchbar input:focus {
  outline: none;
  border: none;
}

header nav .searchbar i {
  position: absolute;
  right: 0;
}

header nav .searchbar i:hover {
  color: #0282f9;
  transform: scale(1.1);
}

/* .hero {
    background-image: url("../../../public/images/jumbotron.jpg");
}*/

main section.row.top.hero {
  max-height: 360px;
  overflow: hidden;
}

main section.row.center {
  background-color: #1c1c1c;
  padding: 30px 0;
}

main section.row.center .wrapper {
  display: flex;
  align-items: center;
}

main section.row.center .comics-card {
  max-height: 150px;
  max-width: 150px;
  margin: 30px 10px;
}

main section.row.center .comics-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s;
}

main section.row.center .comics-card .thumbnail-container {
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
}

main section.row.center .comics-card h4 {
  margin: 10px 0;
}

main section.row.center .comics-card h4 a {
  color: white;
}

main section.row.center .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

main section.row.bottom {
  background-color: #0282f9;
}

main section.row.bottom .wrapper {
  display: flex;
}

main section.row.bottom .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 5);
  margin: 30px 0;
}

main section.row.bottom .card * {
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
}

main section.row.bottom .card .icon-container {
  width: 40px;
  height: 40px;
}

main section.row.bottom .card .icon-container:hover {
  cursor: pointer;
}

main section.row.bottom .card a {
  padding-left: 10px;
}

main section.row.bottom .card a:hover {
  transform: scale(1.03);
}

