* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    //line-height: $line_height;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font_size;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    @include list_reset;
    display: flex;
}

[class^="col-"] {
    width: 100%;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

input[type="text"] {
    border:none;
    max-width: 100%;
}

button {
    @include btn_default;
}