$font_color: white;

$font_color_secondary: #77858a;

$font_size: 0.8em;

$line_height: 1.2rem;

$background_primary_color: #0282f9;

$background_secondary_color: #1c1c1c;

$background_tertiary_color: #303030;

$spacing: 30px;

$transition_duration: .5s;

$secondary_img: 300px;

